@import '~@vantr/styles/lib/style/variables.less';

.demo-cell {
  min-height: 100vh;
  background-color: #f7f8fa;
  overflow: hidden;
  &-title {
    padding: @line-height-md @h-spacing-xl @h-spacing-xl;
    color: rgba(69, 90, 100, 0.6);
    font-weight: normal;
    font-size: @font-size-md;
  }

  &-block {
    padding: 0;
  }
}
