@import (reference) '../style/index.less';
@import (reference) '../style/mixins/hairline.less';

@prefixCls: ~'@{vanr-prefix}-cell-group';

.@{prefixCls} {
  &-title {
    padding: @cell-group-title-padding;
    color: @cell-group-title-color;
    font-size: @cell-group-title-font-size;
    line-height: @cell-group-title-line-height;
  }
  &-body {
    position: relative;
    background-color: #fff;
  }

  &-radius {
    padding: 0 @h-spacing-lg;

    .@{prefixCls} {
      &-title {
        padding-right: 0;
        padding-left: 0;
      }
      &-body {
        border-radius: @cell-group-radius;
        transform: translate3d(0, 0, 0);
        > .@{vanr-prefix}-cell {
          &:first-child {
            border-top-left-radius: @cell-group-radius;
            border-top-right-radius: @cell-group-radius;
          }
          &:last-child {
            border-bottom-left-radius: @cell-group-radius;
            border-bottom-right-radius: @cell-group-radius;
          }
        }
      }
    }
  }
}
